html, body {margin: 0; width:100%; height: 100%; overflow: hidden}

*{
    margin: 0;
    padding:0;
    background-color: #1C1C1C;
    font-size:120%;
}

body{
    background-color: #1C1C1C;
}

.header1{
    animation: header 1s ease-in-out;
}

.logo{
    cursor: pointer;
    width: 8%;
    height: auto;
    transition-duration: 1s;
}

.logo:hover{
    opacity: 50%;
}

.title{
    font-family: 'Lobster', 'Arial Narrow', Arial, sans-serif;
    color: rgba(240, 248, 255, 1);
    font-size: 250%;
    text-shadow:2px 2px rgb(23, 224, 224);
    position: absolute;
    top: 0%;
    left: 43%;
    transition-duration: 500ms;
    animation-name: title_an,title_color;
    animation-duration: 1.5s,10s;
    animation-iteration-count: 1,infinite;
    
}

.title:hover{
    font-size: 270%;
    color: rgb(181, 243, 139);
}

@keyframes title_an {
    0%{
        top: -100%;
    }
    100%{
        top: 0%;
    }
   
}

@keyframes title_color {
    0%{
        text-shadow:2px 2px rgb(23, 224, 224);
    }
    25%{
        text-shadow:2px 2px rgb(23, 224, 33);
    }
    50%{
        text-shadow:2px 2px rgb(224, 154, 23);
    }
    75%{
        text-shadow:2px 2px rgb(224, 23, 23);
    }
    100%{
        text-shadow:2px 2px rgb(23, 224, 224);
    }
}

.nav_bar svg{
    position: relative;
    padding: 100px;
}

.logo{
    cursor: pointer;
    width: 8%;
    height: auto;
    transition-duration: 1s;
}

#delete_button{
    font-size: 1px;
}
